<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="well">
      <h2>Reenviar información de confirmación</h2>

      <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
          <%= devise_error_messages! %>

          <div class="field">
            <%= f.label "Correo electrónico" %><br />
            <%= f.email_field :email,  {class: 'form-control', placeholder: "Contraseña", autofocus: true, value:  (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) }  %>
          </div><br>

          <div class="actions">
            <%= f.submit "Reenviar información de confirmación", class: "btn btn-primary" %>
          </div>
      <% end %>
    </div>
    <%= render "devise/shared/links" %>
  </div>
</div>




