<h2>Detalles</h2>

<table class="table table-striped">
  <tr>
    <td>Id</td>
    <td><%= @location.id %></td>
  </tr>
  <tr>
    <td>Nombre</td>
    <td><%= @location.name %></td>
  </tr>
  <tr>
    <td>Dirección</td>
    <td><%= @location.address %></td>
  </tr>
  <tr>
    <td>Hora apertura</td>
    <td><%= @location.opening_hour %></td>
  </tr>
  <tr>
    <td>Hora cierre</td>
    <td><%= @location.closing_hour %></td>
  </tr>
  <tr>
    <td>Clases futuras</td>
    <td><%= @location.future_classes.count %></td>
    <td><%= link_to "Ver clases", admin_location_class_dates_path(@location) %></td>
  </tr>

</table>


<%= link_to "Editar", edit_admin_location_path(@location) %>
<%= link_to "Regresar", admin_locations_path %>