<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="well">
      <h3>Administraci칩n Gymrein</h3>


      <%= form_tag admin_sessions_path do %>
          <p>
            <%= label_tag "Nombre de usuario" %><br/>
            <%= text_field_tag :username, params[:username], {class: 'form-control', placeholder: "Nombre de usuario"} %>
          </p>

          <p>
            <%= label_tag "Contrase침a" %><br/>
            <%= password_field_tag :password, {}, {class: 'form-control', placeholder: "Contrase침a"} %>
          </p>

          <p class="button"><%= submit_tag "Iniciar sesi칩n", class: "btn btn-primary" %></p>
      <% end %>
    </div>

  </div>
</div>

