<div class="row">
  <div class="col-md-2">
    <%= image_tag @user.avatar.url(:thumb), size: "100" %>
  </div>
  <div class="col-md-10">
    <h3><%= @user.full_name %></h3>
  </div>
</div>

<h4>Id: <%= @user.id %></h4>

<p>Existen <%= @user.future_waiting_lists.count %> clase(s) pendiente(s) en lista de espera </p>

<table class="table">
  <% @waiting_lists.each do |waiting_list| %>
      <tr>
        <td><%= waiting_list.class_date.event.name %></td>
        <td><%= waiting_list.class_date.date %></td>
      </tr>
  <% end %>
</table>

<%= will_paginate @waiting_lists, renderer: BootstrapPagination::Rails %>


<%= link_to "Regresar", admin_user_path(@user) %>