<div class="row">
  <div class="col-md-2">
    <%= image_tag @event.logo.url(:thumb) %>
  </div>
  <div class="col-md-10">
    <h3><%= @event.name %></h3>
  </div>
</div>

<h1>Horarios</h1>

<%= form_tag admin_event_class_dates_path(@event), :method => 'get' do %>
    <div class="row">
      <div class="col-md-4">
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
          <%= text_field_tag :beginning, params[:beginning],  {class: 'form-control', placeholder: "Inicio (dd-mm-aaaa)"}  %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
          <%= text_field_tag :end, params[:end],  {class: 'form-control', placeholder: "Fin (dd-mm-aaaa)"}  %>
        </div>
      </div>
      <div class="col-md-4">
        <%= submit_tag "Search", class: "btn btn-primary"  %>
      </div>
    </div>
<% end %><br>

<p>Existen <%= @class_dates.count %> horarios para esta clase</p>
<p>Clases ya empezadas: <%= @class_dates.past.count %> Clases futuras: <%= @class_dates.future.count %></p>

<table class="table">
  <% @class_dates.each do |class_date| %>
      <% if class_date.past_class %>
          <tr class="bg-warning">
            <td><%= class_date.location.name %></td>
            <td><%= class_date.date %></td>
            <td><%= link_to "Detalles", admin_event_class_date_path(@event, class_date) %></td>
          </tr>
      <% else %>
          <tr class="bg-success">
            <td><%= class_date.location.name %></td>
            <td><%= class_date.date %></td>
            <td><%= link_to "Detalles", admin_event_class_date_path(@event, class_date) %></td>
          </tr>
      <% end %>
  <% end %>
</table>

<%= will_paginate @class_dates, renderer: BootstrapPagination::Rails %>

<%= link_to "Agregar horario", new_admin_event_class_date_url %>
