<h1>Usuarios</h1>

<%= form_tag admin_users_path, :method => 'get' do %>
    <div class="row">
      <div class="col-md-4">
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
          <%= text_field_tag :search, params[:search],  {class: 'form-control', placeholder: "Buscar"}  %>
        </div>
      </div>
      <div class="col-md-4">
        <%= submit_tag "Search", class: "btn btn-primary"  %>
      </div>
    </div>
<% end %><br>

<p><%= @users.count %> usuario(s)</p>

<table class="table table-striped">
  <% @users.each do |user| %>
      <tr>
        <td><%= user.full_name %></td>
        <td><%= user.email %></td>
        <td><%= link_to "Detalles", admin_user_path(user) %></td>
        <td><%= link_to "Editar", edit_admin_user_path(user) %></td>
        <td><%= link_to "Borrar", admin_user_path(user), method: :delete %></td>
      </tr>
  <% end %>
</table>

<%= will_paginate @users, renderer: BootstrapPagination::Rails %>

<%= link_to "Nuevo usuario", new_admin_user_path %>